/* line 3, ../sass/all-fonts.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 9, ../sass/all-fonts.scss */
.font-mars-header {
  font: 700 24px/30px Montserrat;
  color: #000000;
}

/* line 14, ../sass/all-fonts.scss */
.phone-font {
  font: 400 14px/30px Montserrat;
  color: #92a1a5;
}

/* line 19, ../sass/all-fonts.scss */
.white-bold {
  font: 700 16px/30px Montserrat;
  color: #ffffff;
}

/* line 24, ../sass/all-fonts.scss */
.text-features {
  font: 700 48px/60px Montserrat;
  color: #000000;
  text-align: center;
}

/* line 30, ../sass/all-fonts.scss */
.btn-text {
  font: 700 13px/60px Montserrat;
  color: #ffffff;
}
