/* line 1, ../sass/section-features.scss */
.section-features {
  margin: 5% 0 5% 0;
}
/* line 3, ../sass/section-features.scss */
.section-features .container {
  margin-top: 5%;
}
/* line 6, ../sass/section-features.scss */
.section-features p {
  text-align: center;
  margin-top: 10%;
  font: 400 30px/60px Montserrat;
  color: #000000;
}
/* line 12, ../sass/section-features.scss */
.section-features img {
  display: block;
  margin: auto;
}

@media screen and (min-width: 1400px) {
  /* line 24, ../sass/section-features.scss */
  .section-features p {
    font-size: 30px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1399px) {
  /* line 30, ../sass/section-features.scss */
  .section-features p {
    font-size: 20px;
  }
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  /* line 36, ../sass/section-features.scss */
  .section-features p {
    font-size: 15px;
  }
}
@media screen and (min-width: 300px) and (max-width: 499px) {
  /* line 42, ../sass/section-features.scss */
  .section-features p {
    font-size: 15px;
  }
}
