

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}


.font-mars-header {
  font: 700 24px/30px Montserrat;
  color: #000000;
}

.phone-font {
  font: 400 14px/30px Montserrat;
  color: #92a1a5;
}

.white-bold {
  font: 700 16px/30px Montserrat;
  color: #ffffff;
}

.text-features {
  font: 700 48px/60px Montserrat;
  color: #000000;
  text-align: center;
}

.btn-text {
  font: 700 13px/60px Montserrat;
  color: #ffffff;
}



